<h1>Welcome, <%= current_user.username %></h1>
<h3>Organizations: </h3><br/>
<% @organizations.each do |org| %>
  <p><%= image_tag(org[:avatar_url], :class => "org-pic" ) %>  <strong><%= org[:login] %></strong> : <%= org[:description] %></p>
<% end %><br/>
<%= link_to "Logout", logout_path, method: :delete %>
