<h1>Welcome, <%= current_user.username %></h1>
<%= link_to "View recent activity", activity_path %><br>
<h3>Organizations: </h3><br/>
<% @organizations.each do |org| %>
  <p><%= org[:avatar_url] %> <%= org[:login] %> : <%= org[:description] %></p>
<% end %><br/>
<%= link_to "Logout", logout_path, method: :delete %>
