<img class="avatar" src="<%= current_user["avatar_url"] %>">
<ul>
  <li><%= current_user.username %></li>
  <li><%= current_user.name %></li>
  <li><%= current_user.uid %></li>
  <li><%= current_user.email %></li>
</ul>
